name: Publish from Notion

on:
  schedule:
    - cron: '0 */3 * * *' # Runs every 3 hours
  workflow_dispatch: # Allows manual triggering

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run publish script
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NOTION_STATUS_PROPERTY_ID: ${{ secrets.NOTION_STATUS_PROPERTY_ID }}
          NOTION_STATUS_PROPERTY_NAME: ${{ secrets.NOTION_STATUS_PROPERTY_NAME }}
        run: node scripts/publish.js
